*,
::before,
::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
} 
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  color: white;
  min-width: 100%;
  background-color: #000000;
  overflow: hidden;
}

.yt {
  width: 100%; 
  height: inherit; 
  text-align: center;
}

.yt nav {
  display: inline-block;
  border: 1px solid rgb(86, 86, 86);
  margin-bottom: 10px;
  border-radius: 3px;
}

.yt input {
  width: 13rem;
  margin: 0px 5px;
  outline: 0;
  font-size: .8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.yt button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-left: 1px solid rgb(86, 86, 86);
}
.yt #icons {
  margin-top: .3rem;
  width: .8rem;
}

.center {
  max-height: 180px;
  overflow: auto;
}

li {
  display: flex;
  text-align: left;
  font-size: .8rem;
  padding: .3rem;
  margin-right: .5rem;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid rgb(86, 86, 86);
}

li > img {
  width: 22%;
  height: 8%;
}
li > #details {
  margin-left: .5rem;
}

span > #title {
  margin-top: .5rem;
  width : 18rem;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span > #options {
  text-align: left;
}

#yt_search:hover,
.results li #save:hover,
.results li #play:hover{
  opacity: 0.6;
}